<div id="<%= dom_id forecast %>">
  <p>
    <strong>Address:</strong>
    <%= forecast.address %>
  </p>

  <p>
    <strong>Address hash:</strong>
    <%= forecast.address_hash %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= forecast.data %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= forecast.expires_at %>
  </p>

</div>
