<% if flash[:info] %>
  <div class="alert alert-info">
    <%= flash[:info] %>
  </div>
<% end %>
<p style="color: green"><%= notice %></p>
<%= debug @forecast if ENV["RAILS_ENV"] == 'development' %>

<% content_for :title, @forecast.address %>
<%= render @forecast %>

<div>
  <%= link_to "New Forecast", root_path %>
</div>
