<% if flash[:info] %>
  <div class="alert alert-info">
    <%= flash[:info] %>
  </div>
<% end %>
<p style="color: green"><%= notice %></p>
<%#= debug @forecast if ENV["RAILS_ENV"] == 'development' %>

<div class="mb-5">
  <%= link_to "â† Back to Home", root_path %>
</div>

<% content_for :title, "Forecast for: #{@forecast.address}" %>

<%= turbo_stream_from @forecast %>
<div id="<%= dom_id(@forecast) %>">
  <%= render @forecast %>
</div>
